@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

body{
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: #072f38;
  
  
}

.logoimg{
 position: absolute;

}
.menu {
  
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  list-style: none;
  display: flex;
  font-size: 25px;
  gap: 80px;
}

.menu li a {
  font-family: "Fjalla One", sans-serif;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  
}

.menu li a:hover {
  color: #e5ddc0;
  display: block;
  text-decoration: none;
  margin-left: 20px;
  background-color: rgba(19, 19, 19, 0);
  font-size: 25px;
}

.border{
  background-color: #e5ddc0;
  width: 60%;
  height: 800px;
}

.title{
  display: flex;
  justify-content: center;
}

