@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

body{
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: #072f38;
  
  
}

.logo img{
 position: absolute;


 

}
.menu {
  
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  list-style: none;
  display: flex;
  font-size: 25px;
  gap: 80px;
}

.menu li a {
  font-family: "Fjalla One", sans-serif;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  
}

.menu li a:hover {
  color: #e5ddc0;
  display: block;
  text-decoration: none;
  margin-left: 20px;
  background-color: rgba(19, 19, 19, 0);
  font-size: 25px;
}


.superior{
  display: flex;
  justify-content: flex-start;
  
}

.boxprincipal{
  width: 60%;
  height: 1000px;
  margin-left: 2%;
  margin-top: 2%;
  background-color: #e5ddc0;
  border-radius: 30px;
}

.title1bp{
  font-family: "Fjalla One", sans-serif;
  font-size: xx-large;
  text-align: center;
  justify-content: center;

}

.textbp{
  font-family: "Fjalla One", sans-serif;
  color: #e5ddc0;
  font-weight: 100;
  display: flex;
  padding: 20px 0px 10px 0px;
  justify-content: center;
  border: #072f38 3px solid;
  background-color: #072f38dc;
  height: 50px;
  
}


.imgbp {
  display: flex;
  justify-content: center;
}


.text1bp{
  margin-left: 1%;
  display: flex;
  height: 700px;
  align-items: end;
  font-weight: 100;
 
}



.borderc1{
  display: flex;
  justify-content: end;
  border: #072f38;
  padding: 10px 10px 10px 10px;
  background-color: #072f38;
}